#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.grid {
  max-width: 120rem;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}
.card {
  padding: 2rem;
  border: 1px solid #888;
}